@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Yeon Sung"; */
  font-family: "Consolas";
  /* min-height: 100vh; */
  margin: 0px;
}

input {
  border: none;
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 100vh;
  max-height: 100vh;
}

.App {
  max-height: 100vh;
  padding-left: auto;
  padding-right: auto;
}

.App h1 {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.App .App_title {
  font-size: 100px;
}

.Anomaly_true h1 {
  color: red;
}

.Anomaly h1 {
  color: blue;
}

.App_Chart {
  /* width: 80%; */
  display: flex;
  justify-content: center;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.Home {
  width: 100vw;
  height: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.DashCamView {
  /* width: 40vw; */
  /* height: 70%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px; */
}

.realtime_detect {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.WebcamComponent button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.RandomValueView {
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.AnomalyScore_view h1 {
  justify-content: center;
}

.VideoPlayer video {
  width: 40vw;
}

.Anomaly_score {
  padding-right: 3em;
}

.VideoUploader {
  justify-content: center;
}

.VideoUploader .input_form {
  justify-content: center;
  display: flex;
}

.VideoPlayer {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.VideoPlayer .react_video video {
  justify-content: center;
}

.recorded_video {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.recorded_video button {
}

.btn_realtime_no {
  background-color: #fd565f;
  color: white;
  margin-top: 10px;
}

.btn_realtime_yes {
  background-color: #64c964;
  color: white;
  margin-top: 10px;
}

.button_upload {
  background-color: black;
  color: white;
}

.App_title {
  color: red;
}

.Title {
  justify-content: center;
  display: flex;
}
