@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Yeon Sung"; */
  font-family: "Consolas";
  /* min-height: 100vh; */
  margin: 0px;
}

/* @media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
} */
input {
  border: none;
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: auto;
  padding-right: auto;
}

.App h1 {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.Anomaly_true h1 {
  color: red;
}

.Anomaly h1 {
  color: blue;
}

.App_Chart {
  /* width: 80%; */
  display: flex;
  justify-content: center;
  height: 500px;
  margin-left: 40px;
  margin-right: 40px;
}

.Home {
  /* width: 100vh; 세로 방향 뷰포트 크기를 가로 크기로 설정 */
  /* height: 100vw; 가로 방향 뷰포트 크기를 세로 크기로 설정 */
  /* overflow: hidden; 스크롤 막기 */
  /* transform-origin: top left; 회전 축 설정 */
  /* transform: rotate(-90deg); */
  width: 100vw;
  height: 50%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* height: 100vh; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.DashCamView .WebCamComponent {
  width: 40vw;
  /* height: 70%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.WebCamComponent .video {
  /* width: 80%; */
  /* height: 100%; */
  justify-content: center;
  object-fit: cover;
  /* margin-right: 100000px; */
}

.WebcamComponent button {
  border: none;
  border-radius: 5px;
  margin-left: 40px;
  cursor: pointer;
}

.RandomValueView h1 {
  font-size: 70px;
  display: flex;
}

.AnomalyScore_view h1 {
  justify-content: center;
}

.VideoPlayer video {
  width: 40vw;
}
